.imgAbout {
    position: relative;
    /* top: 19% ; */
    top:3%;
     left: -10%; 
     height: 90%;
   
     max-width:130px !important;
     min-width: 430px;
     max-height: 60%;
     min-height:70%;
     border-radius: 30px;
     border: 3px solid black;

   
 }
 
 .container {
 
       overflow-y: hidden;  
  height: 79vh; 
     width: 100%;
 }
 
 .containerAbout {
     position: relative;
     display: grid;
     gap: 40%;
     left: 15%;
     grid-template-columns: 1fr 1fr;
     width: 60%;
     height: 100%;
     margin-top: 2%;
   
 
     
  
     /* margin-left: 1%; */
 
 /* overflow to hide scrollbar */
 }
 
 
 .textAbout {
 
      position: absolute;
 
     left:-200%; 
      top: 13%;
      width: 500px;
     height:auto;
     min-width: 430px;
     max-height: 60%;
     min-height:75%;
 }
 
 .spanAbout {
 
     color: rgb(228, 5, 5);
 
 }
 
 .pAbout {
    margin-top: 8%;
    font-size: 20px;
    font-weight: bold;
    color: black;
 }
 
 
 
 .titleAbout {
     font-weight: 900;
     color: black;
     /* font-size: 25px; */
     font-size: 60px;
     
 }
 
 .borderLeftAbout {
     position: absolute;
     border-top: 4px solid red;
     width: 34%;
     left:27%;
     top: -3%;
    
 }
 
 .borderLeftAbou2 {
     position: relative;
     border-top: 4px solid red;
     width: 34%;
     left:27%;
     bottom: 30%;
    
 }

 .borderLeftAbou3 {
    position:relative;
    height: 85%;

    /* left: 10%; */
    left: 10%;
    bottom: 70%;
    border-right: 4px solid black;
 }

  

 
 
 
     