.imgAbout {
   position: absolute ;
   /* top: 19% ; */
   margin-top: 3%;
    left: 17%; 
    height: 52vh;
    width: 25%;
    border-radius: 30px;
    border: 3px solid black;
   
  
}

.container {



}

.containerAbout {
    position: relative;
    display: grid;
    gap: 30%;
    grid-template-columns: 1fr 1fr;
    
   margin-top: 2.7em;
   height: 73vh;
    
   overflow: hidden; 
    /* margin-left: 1%; */

/* overflow to hide scrollbar */
}


.textAbout {

     position: absolute;
    
    left: 57.3%; 
     margin-top: 11.5%; 
    
}

.spanAbout {

    color: rgb(228, 5, 5);

}

.pAbout {

   font-size: 85.3%;
   font-weight: bold;
}



.titleAbout {

    font-weight: 900;
    color: black;

}

.borderLeftAbout {
    position: absolute;
    border-left: 2px solid black;
    height: 65vh;
    left: 50%;
    top: 3%;
   
}



    
