html,body,div,section {

    
    height: 100%;
    display: block;

}

main {
    position: relative;
    height: auto;
    display: block;
   
} 

footer {

    position:absolute;
    display: block;
    top: 74.3%;
 
left:0;
bottom:0;
right:0;
}

