html,body,div,section {

    
    height: 100%;
    display: block; 

}

main {
    position: relative;
    display: block;
   
} 

footer {

    position:absolute;
    display: block;
   

left:0;
bottom:auto;
right:0;
}

