.imgHome {
    height: 7vh;
}

.titleHome {

    text-align: center;
    margin-top: 1em;
    font-weight: 900;
    color: black;
    
}

.spanHome {

    color: rgb(228, 5, 5);
   

}

.borderHome {

    border-bottom:2px solid rgb(228, 5, 5) ;
    width: 2%;
     position: absolute;
    left: 48%;
    bottom: 10.5%; 

}


.containerHome {
display: flex;
justify-content: center;
    position: relative;

}