.imgHome {
    height: 7vh;
}

.titleHome {

    text-align: center;
    margin-top: 1em;
    font-weight: 900;
    color: black;
    
}

.spanHome {

    color: rgb(228, 5, 5);
   

}

.borderHome {

    border-bottom:2px solid rgb(228, 5, 5) ;
    width: 3%;
    position: absolute;
    left: 47.5%;
    bottom: 8%;

}

.containerHome {

    position: relative;

}