.imgHeader {

    height: 7vh;

}

.logoStyle {

    font-weight: bold !important;
    color: white !important;
    
}

.logoSpanHeader {
    font-weight: 900;
   

}

.navStyle {

    background-color: black !important;
    border-bottom: 3px solid white;
}

.linkStyle {

    color: white !important;
    transition: 1s !important;
    font-weight: 900 !important;

}

.linkStyle:hover,.linkStyle:active,.linkStyle:focus {

    color: rgb(228, 5, 5) !important;
    text-decoration: underline;
    

}

.listPositioning {

    display: flex;
    justify-content: end;

}

.togglerStyle {

    
    background-color: white !important;
    border-radius: 20px !important;

}

.togglerStyle:focus {

    
    border:2px solid red !important;
    

}

.iconsHeader {


    
}