 /* .footerStyle {

    position:relative;
    display: block;
    top: auto;
left:0;
bottom:0;
right:0;
}  */


.spanFooter {
    transition: 1s;
    text-decoration: underline;
    color: white;
}

.spanFooter:hover {
   color: rgb(228, 5, 5);

}

.footerStyle {

    border-top: 2px solid white;
    color: white !important;
    font-weight: 900;
    background-color: black !important;
}